@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f7f7f7;
}

input {
    height: 35.2px !important;
}